.tv-rating-icon {
  width: @tv-rating-icon-size-medium;
  height: @tv-rating-icon-size-medium;
  display: inline-block;
  position: relative;
  top: 1px;
  background: transparent url(@tv-rating-icon-img-path) no-repeat 0 0 scroll;
  background-size: (@tv-rating-icon-size-medium * 2) auto;
}

.tv-rating-icon-size(@size, @sizeVar) {

  .tv-rating-icon.tv-rating-icon-@{size} {
      width: @sizeVar;
      height: @sizeVar;
      background-size: (@sizeVar * 2) auto;
  }

}

.tv-rating-icon-theme(@theme, @themeVar) {

  .tv-rating-icon.tv-rating-icon-@{theme} {
      background-color: @themeVar;
  }

}

.tv-rating-icon(@rating, @index) {

  .tv-rating-icon-@{rating}.tv-rating-icon-dark {
    background-position: 0 (@index * -@tv-rating-icon-size-medium);
  }

  .tv-rating-icon-@{rating}.tv-rating-icon-light {
    background-position: -@tv-rating-icon-size-medium (@index * -@tv-rating-icon-size-medium);
  }

  .tv-rating-icon-size(@size, @sizeVar) {

    .tv-rating-icon-theme(@theme, @themeVar) when (@theme = dark) {

      .tv-rating-icon-@{size}.tv-rating-icon-@{theme}.tv-rating-icon-@{rating} {
        background-position: 0 (@index * -@sizeVar);
      }

    }

    .tv-rating-icon-theme(@theme, @themeVar) when (@theme = light) {

      .tv-rating-icon-@{size}.tv-rating-icon-@{theme}.tv-rating-icon-@{rating} {
        background-position: -@sizeVar (@index * -@sizeVar);
      }

    }

  }

}

